.main-container{
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 1rem auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 0.1rem solid rgb(182, 177, 177);
}
.list{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.2rem;

    /* background-color: aqua; */
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 0.05rem solid rgb(182, 177, 177);
    margin-bottom: 0.1rem;
    /* background-color: blue; */
}
.photo{
    width: 20%;
    text-align: center;
    margin-left: 0.1rem;
    background-color: 5;
    /* background-color: cadetblue; */
}
img{
    width: 80%;
    margin: auto;
}
.detail{
    text-align:left ;
    width: 35%;
    /* background-color: brown; */
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.resumen{
    width: 100%;
    text-align: center;
    font-weight: 600;
    /* background-color: chocolate; */
}
.resumen div{
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-top: 0.2rem;
}
.sub{
    margin-top: 1rem;
}
.total{
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--green-btn);
}
.right-col{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    text-decoration: none;
    width:80%;
    padding: 0.5rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: rgb(33, 160, 16);
}
.btn:hover{
    background-color: rgb(61, 163, 47);
}
#buy-btn{
    margin: 1rem 0 0 0;
}
#pay-btn{
    margin: 1rem 0 1rem 0;
}

.title1{
    font-size: 1.5rem;
    width: 98%;
    text-align: center;
    margin: 1.2rem auto 0.8rem auto;
    background-color: #fff;
    border-bottom: 0.1rem #ebebeb solid;
    padding: 0.8rem;
}



@media(max-width:425px){
    .main-container{
        width: 98%;
    }
    .list,.right-col{
        width: 100%;
        justify-content: flex-start;
    }
    .resumen{
        display: none;
    }
    .sub{
        font-weight: 600;
    }
    #pay-btn{
        margin-bottom: 1rem;
    }

}

.empty-message{
    margin-left: 1rem;
    color: rgb(245, 152, 118);
}

.hidden{
    display: none;
}