/* Variables */
:root{
    --background-color-header: rgba(0,0,0,0.9);
    --pink-0:rgba(245, 181, 156,0.6);
    --pink-1:#faac8d;
    --pink-2:#f88f65;
    --green-btn:rgb(34, 204, 11);
}


*{
    box-sizing: border-box;
}
body{
    background-color:#ebebeb;
    margin: 0;

    font-family:'Montserrat',sans-serif;
    color: #333232;

    /* max-width: 1200px; */
    margin: auto;
}


/*==== Header =====*/
header{
    display:flex;
    background-color: var(--background-color-header);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 0 0.2rem 0;
}
header img{
    width: 20%;
    padding: 0.2rem;
}
.logo-header{
    width: 6%;
    float: left;
    margin: 0.60rem 0.4rem;
}
header ul{
    list-style-type: none;
    display: inline;
    overflow: hidden;
    margin: 0;
}
header li{
    float:left;
    padding: 0 0.3rem 0 0.3rem;
}
header li a {
    flex-grow: 1;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 1.5rem;
  }
header li a:hover{
    background-color: rgba(0,0,0,0.4);
}
header form{
    float: right;
}
header form input{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    border-radius: 0.1rem;
    padding: 0.2rem;
    border: none;
}

.dropMenu{
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* --------------- */
.menuBar > i {
    font-size: 1.7em;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-banner{
    margin: auto;
    text-align: center;
}
.main-banner img{
    width:100%;
}

/*==== container productos =====*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 100%;
    justify-content: center;
}

.product-container{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.1rem;
    border: 0.1rem solid #ebebeb;
    cursor: pointer;
    margin: 0.15rem;
}
.image-product{
    width: 95%;
    margin: 0.5rem auto;
    border-bottom: 0.1rem solid #ebebeb;
}
.price-product{
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}
.desc-product{
    text-align: center;
    margin-bottom: 0.8rem;   
}
.photo-product{
    width: 100%;
}
.product-container:hover{
    border:0.15rem solid var(--pink-0);
}
.category-card{
    width: 25%;
    max-width: 100px;
    padding: 0.2rem;
    margin-bottom: 0.4rem;
}
.img-category{
    width:100%;
    border-radius: 50%;
}
.name-category{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding:0.2rem;
}
.lista-categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0.3rem;
}
.lista-categories a{
    text-decoration: none;
    color: #333232;
}   

.add-shadow{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.add-shadow-1{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}	


.quienesSomos{
    text-align: justify;
    padding: 12px;
}

.quienesSomos h1{
    text-align: center;
}



/*==== Footer =====*/
footer{
    background-color: var(--background-color-header);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-arround;
    align-items: flex-start;
    width: 100%;
    height: auto;
    color: white;
    }
    
footer div{
    width: 25%;
    padding-left: 12px;
    }
    
footer ul{
    list-style-type: none;
    padding: 0;
    }
        
footer li a {
    text-decoration: none;
    color: white;
    }
    
footer li a:hover{
    background-color: grey;
    }
    
footer i {
    color: white;
    }
    
.footer3 i {
    font-size: 30px;
    }
    
.footer3 ul li{
    display: inline-block;
    padding-right: 10px;
    }
    
.footer4 img{
    height: 50px;
    }
    
.copyright{
    text-align: right;
    font-size: 8px;
    
}