<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <%- include('../partials/styles-and-fonts') %> 

    </head>
<body>
   <%- include('../partials/header') %>

    <div class="quienesSomos">
    
        <h1> ¿Quiénes somos? </h1>
        <p>Somos una empresa dedicada a la comercialización de alimentos y productos naturales (aceites, alfajores, almohaditas de avena rellenas de diferentes sabores, bebidas, bebidas vegetales, cereales, chocolates, especias, frutas desecadas, galletitas, granola, harinas, legumbres, mixes, productos orgánicos, panificados, productos aptos: veganos/celíacos/hipertensos/diabéticos, semillas, frutas secas, entre otros), así como también suplementos naturales. 
            </br>
            Comenzamos nuestra actividad en Junio de 2018 en la Ciudad Autónoma de Buenos Aires, abriendo la primera tienda al público en el barrio de Belgrano. Actualmente contamos con ocho tiendas físicas situadas en el corredor norte de la Ciudad Autónoma de Buenos Aires y esta tienda web. Todas están bajo nuestra administración. Nuestra nómina de empleados supera las 35 personas.
            </br>   
            Uno de nuestro principales objetivos, además de ofrecer una numerosa y variada oferta de alimentos, es el servicio a la comunidad. Esto va desde empatizar con cada cliente y conocer sus necesidades hasta orientarlos y asesosarlos en sus elecciones de alimentación saludable (dentro de nuestras posibilidades). Estamos a tu disposición para aclarar cualquier duda que tengas!
            </br></br>
            <strong> Te invitamos a que tengas una alimentación saludable sin perder sabor en tus comidas. </strong>
        </p>

    </div>
    
    <%- include('../partials/footer') %> 

</body>
</html>
