<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <%- include('../partials/styles-and-fonts') %> 
   
</head>
<body>
    <%- include('../partials/header') %> 

    <h1> Locales</h1>
    <!-- Categorias -->
    <div class="locales">
        <section>
            <article class="local1">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local2">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local3">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local4">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local5">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local6">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local7">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local8">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local9">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

        </section>

    </div> 

    <%- include('../partials/footer') %> 

    

</body>
</html>