<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <%- include('../partials/styles-and-fonts') %> 
   
</head>
<body>
    <%- include('../partials/header') %> 

    <h1> Locales</h1>
    <!-- Categorias -->
    <div class="locales">
        <section>
            <article class="local1">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local2">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local3">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local4">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local5">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local6">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local7">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local8">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

            <article class="local9">
                <div>
                    <img src="images/locales/local1.jpg">
                </div>
                <div>
                    <p><strong>SUCURSAL PALERMO </strong></br>
                        <strong> Av. Coronel Díaz 1467, CABA.</strong></br></br>
                        <i class="fas fa-phone-alt"></i> 7501-3969 </br></br>
                        <i class="fas fa-calendar-alt"></i> Lúnes a domingo </br> de 9 a 21 hs. </br>
                    </p>
                </div>
            </article>

        </section>

    </div> 

    <footer>
        <div class="footer1"> 
            <h4> Mapa del sitio: </h4>
            <ul>
                <li><a href="#">Incio</a> </li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Locales</a> </li>
                <li><a href="#">Política de cambios y devoluciones</a></li>
                <li><a href="#">Defensa al consumidor (consultas y/o denuncias)</a></li>
            </ul>
        </div>

        <div class="footer2"> 
            <h4> Contactos: </h4>
            <ul>
                <li><i class="fas fa-phone-alt"></i> 4706-0307 </li>
                <li><i class="fas fa-at"></i> contacto@distribuidorasaludable.com</li>
                <li>proveedores@distribuidorasaludable.com</li>
                <li>rrhh@distribuidorasaludable.com</li>
            </ul>
        </div>

        <div class="footer3"> 
            <h4> Redes sociales: </h4>
            <ul>
                <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                
            </ul>
        </div>

        <div class="footer4"> 
            <h4> Seguridad y certificaciones</h4>
            <a href="http://qr.afip.gob.ar/?qr=SpDgX4smKIIRInt5NNJM5A,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
        </div>
    </footer>
    
    <div class="copyright">
        <p>COPYRIGHT DISTRIBUIDORA SALUDABLE - 2020. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>

    

</body>
</html>