/*==== Header ====*/
.header-cstm{
    background-color: rgba(129, 3, 3, 0.966);
    color: floralwhite;
}
.a-cstm{
    color: floralwhite;
}
.barra-buscador{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color:rgba(129, 3, 3, 0.966);
    padding: 0.1em;
    padding-bottom: 0.3em;
    margin: 0em;
    
}
.srch-bar{
    padding: auto;
    width: 90%;
    height: 20%;
    border-radius: 0.3em;
    border: none;
}
.brand{
color: floralwhite;
font-weight: 500;
}

.bg-cstm {
    background-color:rgba(129, 3, 3, 0.966);
  }
  
  a.bg-cstm:hover, a.bg-cstm:focus,
  button.bg-cstm:hover,
  button.bg-cstm:focus {
    background-color: #ababab !important;
  }
  
  input.srch-bar{
      background-color: #f8f4f4;

  }

/*====== Productos md======*/
.row{
    justify-content: space-evenly;
}
.titulo{
    display: box;
    width: 100%;
    text-align: center;
    background-color:#fff;
    padding-top: 0.4em;
    margin-top: 0.6em;
}

/*===== Desktop ======*/
@media(min-width:421px){
    .box-prd{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width:95%;
        background-color:#ffffff;
        margin:0em;
        border: 0.2em #ebebeb solid;
    }
    .img-container{
        max-width: 60%;    
    }
    .precio-prd{
        font-size: 2em;
        text-align: center;
        align-self: center;
        padding: auto;
    
    }
}
/* ========Novil================*/
@media(max-width:420px){
    .box-prd{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
    
        width:100%;
        background-color:#ffffff;
        margin:0.2em;
    }
    .detalle-prd{
        width: 60%;
        margin: 0;
    }
    .desc-prd{
        align-self: center;
        text-align:center;
    }
    .img-container{
        max-width: 40%;    
    }
    .precio-prd{
        font-size: 2em;
        text-align: center;
        align-self: center;
        padding: auto;
    
    }
}

/*======= Footer ========*/
footer{
    font-size: 0.9em;
    text-align: center;
    background-color: #fabfbf;
    padding: 1em;
    margin-top: 1.5em;
}


