<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sirio en mantenimiento</title>
    <style>
        body{
            font-family: sans-serif;
            text-align:center ;
        }
        h1{
            color:#385a64;
            font-family: sans-serif;
            text-align: center;
        }
        a.home{
            margin: 2rem auto;
            color: #fff;
            background-color: #ff4f5a;
            text-decoration: none;
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        a.home:hover{
            opacity: 0.8;
        }
        img{
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>Estamos trabajando en este sitio</h1>
    <a href="javascript:history.back()" class="home">Volver</a>
    <div style="text-align: center;margin-top: 1rem;">
        <img src="/images/illustrations/503.jpg" alt="">
    </div>
</body>
</html>