<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <header>
        <img class="logo" src="images/logo/logo1.png">
        <!--div class="center">
            <form action="/">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div-->
        <div class="search-container">
            <form action="/">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

       <nav class="desktop">
           <a href="#">Comprar</a>
           <a href="/login">Ingresar</a>
           <a href="/carrito">Carrito</a>
       </nav>

        <div class="menuBar movil" >  
            <div class="bar movil"></div>
            <div class="bar movil"></div>
            <div class="bar movil"></div>
        </div> 
    </header>
    <header class="navMovil movil">
        <nav>
            <a href="#">Comprar</a>
            <a href="/login">Ingresar</a>
            <a href="#">Carrito</a>
        </nav>    </header>

    
    <!-- Main banner -->
        <div class="main-banner">
            <img src="images/banners/banner.jpg" >
        </div>

    
    <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis ad, assumenda nemo, similique eum dolores, cumque quaerat quasi molestiae a perspiciatis aperiam repudiandae beatae neque sunt. Architecto, et impedit!</p> -->

    <!-- Productos -->
    <div class="container">
        <div class="title">
            <h3>Ofertas</h3> 
        </div>
        <div class="lista">
            <div class="box-prd">
                <img src="/images/products/001.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/002.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/003.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/003.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
        </div>

        <div class="title">
            <h3>Productos destacados</h3> 
        </div>
        <div class="lista">
            <div class="box-prd">
                <img src="/images/products/004.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/005.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/006.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/002.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="products-container">
        <div class="product-container">
                <div class="image-product"><img class="photo-product" src="images/products/002.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
        </div>
        <div class="product-container">
                <div class="image-product"><img class="photo-product" src="images/products/001.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
        </div>
        <div class="product-container">
                <div class="image-product"><img class="photo-product" src="images/products/004.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>    
        </div>
        <div class="product-container">
            <div class="image-product"><img class="photo-product" src="images/products/006.jpg"></div>
            <div class="price-product">$1.400</div>
            <div class="desc-product">Semillas asdfasdfe</div>
        </div>
        <div class="product-container">
            <div class="image-product"><img class="photo-product" src="images/products/003.jpg"></div>
            <div class="price-product">$1.400</div>
            <div class="desc-product">Semillas asdfasdfe</div>
        </div>
    </div>

    
<footer>
    <nav>
        <a href="#">Sucursales</a>
        <a href="#">Quienes somos</a>
        <a href="#">Preguntas frecuentes</a>
    </nav>

</footer>

    

</body>
</html>