<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mainMovil.css">
    <link rel="stylesheet" href="css/mainTablet.css">
    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <header>
        <a href="/">
            <img src="images/logo/logoWhite.png">
        </a>
        <ul class="desktop tablet">
            <li class="dropdown">
                <a href="" class="dropbtn"><i class="fas fa-angle-down"></i> Categorías</a>
                <div class="dropdown-content">
                  <a href="#">Sin T.A.A.C</a>
                  <a href="#">Vegano</a>
                  <a href="#">Aceites</a>
                  <a href="#">Cereales</a>
                  <a href="#">Condimentos</a>
                  <a href="#">Disecados</a>
                  <a href="#">Endulzantes</a>
                  <a href="#">Fideos</a>
            <li><a href="#"><i class="fab fa-nutritionix"></i> Quienes somos</a></li>
            <li><a href="/login"><i class="fas fa-user"></i> Ingresar</a></li>
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
          </ul>
        <div class="movil">
            <i class="fa fa-bars movil" style="margin-right:1rem;color: #fff;font-size: 2rem;"></i>
        </div>
    </header>

    <!-- Main banner -->
        <div class="main-banner">
            <img class="category-img" src="images/banners/banner.jpg" >
        </div>

    <!-- Categorias -->
    <div class="container">
        <div class="title">
            <h3>Categorías</h3>
        </div>
        <div class="lista-categories">
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/nuts.jpg">
                    <div class="name-category">
                        <p style="margin: 0;">Categoría</p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="title">
            <h3>Ofertas</h3>
        </div>
        <div class="products-container">
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/002.jpg"></div>
                    <div class="price-product">$1.400</div>
                    <div class="desc-product">Semillas asdfasdfe</div>
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/001.jpg"></div>
                    <div class="price-product">$400</div>
                    <div class="desc-product">Mix semillas</div>
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/004.jpg"></div>
                    <div class="price-product">$1.400</div>
                    <div class="desc-product">Semillas asdfasdfe</div>    
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/006.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
        </div>
        
    </div> 
    
    <!-- Productos -->
    <div class="container"> 
        <!--div class="title">
            <h3>Ofertas</h3> 
        </div>
        <div class="lista">
            <div class="box-prd">
                <img src="/images/products/001.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/002.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/003.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/003.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
        </div>

        <div class="title">
            <h3>Productos destacados</h3> 
        </div>
        <div class="lista">
            <div class="box-prd">
                <img src="/images/products/004.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/005.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/006.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
            <div class="box-prd">
                <img src="/images/products/002.jpg" class="img-container">
                <div class="detalle-prd">
                    <div class="precio-prd">
                        $5.800
                    </div>
                    <div class="desc-prd">
                        Cafetera Molinex
                    </div>
                </div>
            </div>
        </div>

    </div-->
    <div class="title"><h3>Destacados</h3></div>
    <div class="products-container">
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/002.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/001.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/004.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>    
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
            <div class="image-product"><img class="photo-product" src="images/products/006.jpg"></div>
            <div class="price-product">$1.400</div>
            <div class="desc-product">Semillas asdfasdfe</div>
            <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="title"><h3>Productos nuevos</h3></div>
        <div class="products-container">
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/002.jpg"></div>
                    <div class="price-product">$1.400</div>
                    <div class="desc-product">Semillas asdfasdfe</div>
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/001.jpg"></div>
                    <div class="price-product">$1.400</div>
                    <div class="desc-product">Semillas asdfasdfe</div>
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="images/products/004.jpg"></div>
                    <div class="price-product">$1.400</div>
                    <div class="desc-product">Semillas asdfasdfe</div>    
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
            <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/006.jpg"></div>
                <div class="price-product">$1.400</div>
                <div class="desc-product">Semillas asdfasdfe</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>


            <!-- novedades -->
            <!-- <div class="title"><h3>Mirá estas novedades</h3></div>
            <div class="banner-container">
                <img src="images/banners/001.jpg" style="width: 10%;float: right;">
            </div>

        </div> -->
        <div class="separador"></div>

    <footer>
        <div class="footer1"> 
            <h4> Mapa del sitio: </h4>
            <ul>
                <li><a href="#">Incio</a> </li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Locales</a> </li>
                <li><a href="#">Política de cambios y devoluciones</a></li>
                <li><a href="#">Defensa al consumidor (consultas y/o denuncias)</a></li>
            </ul>
        </div>

        <div class="footer2"> 
            <h4> Contactos: </h4>
            <ul>
                <li><i class="fas fa-phone-alt"></i> 4706-0307 </li>
                <li><i class="fas fa-at"></i> contacto@distribuidorasaludable.com</li>
                <li>proveedores@distribuidorasaludable.com</li>
                <li>rrhh@distribuidorasaludable.com</li>
            </ul>
        </div>

        <div class="footer3"> 
            <h4> Redes sociales: </h4>
            <ul>
                <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                
            </ul>
        </div>

        <div class="footer4"> 
            <h4> Seguridad y certificaciones</h4>
            <a href="http://qr.afip.gob.ar/?qr=SpDgX4smKIIRInt5NNJM5A,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
        </div>
    </footer>
    
    <div class="copyright">
        <p>COPYRIGHT DISTRIBUIDORA SALUDABLE - 2020. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>

    

</body>
</html>