<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/icons/font-awesome.min.css">
</head>
<body>
    <% if(locals.user){ %>
        <h1 style="text-align:center;"><%= user %> </h1>
   <% }else{ %>
        <h1 style="text-align:center;"></h1>   
   <% } %>   

    
</body>
</html>