<!-- Header -->
<nav class="navbar navbar-expand-sm navbar-dark bg-cstm">
  <span class="brand">
    Distribuidora Saludable
  </span>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" href="/login">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carrito</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="barra-buscador">
  <input type=text placeholder="Buscar">
</div> -->

<div class="barra-buscador">
  <input type="text" class="srch-bar" placeholder="   Buscar">
</div>



