<!-- Ofertas -->
<div class="container">
      <div class="row">
        <div class="col-xs-12 titulo">
            <h3>Ofertas</h3> 
        </div>
        <div class="col-xs-12 col-md-4 box-prd">
            <img src="/images/products/001.jpg" class="img-container">
            <div class="detalle-prd">
                <div class="precio-prd">
                    $5.800
                </div>
                <div class="desc-prd">
                    Cafetera Molinex
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 box-prd">
            <img src="/images/products/002.jpg" class="img-container">
            <div class="detalle-prd">
                <div class="precio-prd">
                    $5.800
                </div>
                <div class="desc-prd">
                    Cafetera Molinex
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 box-prd">
            <img src="/images/products/003.jpg" class="img-container">
            <div class="detalle-prd">
                <div class="precio-prd">
                    $5.800
                </div>
                <div class="desc-prd">
                    Cafetera Molinex
                </div>
            </div>
        </div>
    </div>
          
  </div>

<!-- Destacados -->
<div class="container">
    <div class="row">
      <div class="col-xs-12 titulo">
          <h3>Destacados</h3> 
      </div>
      <div class="col-xs-12 col-md-4 box-prd">
          <img src="/images/products/004.jpg" class="img-container">
          <div class="detalle-prd">
              <div class="precio-prd">
                  $5.800
              </div>
              <div class="desc-prd">
                  Cafetera Molinex
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 box-prd">
          <img src="/images/products/005.jpg" class="img-container">
          <div class="detalle-prd">
              <div class="precio-prd">
                  $5.800
              </div>
              <div class="desc-prd">
                  Cafetera Molinex
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 box-prd">
          <img src="/images/products/006.jpg" class="img-container">
          <div class="detalle-prd">
              <div class="precio-prd">
                  $5.800
              </div>
              <div class="desc-prd">
                  Cafetera Molinex
              </div>
          </div>
      </div>
  </div>
        
</div>