<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <%- include('../../partials/styles-and-fonts') %> 
    <%- include('../partials/style') %> 
</head>
<body>
    <%- include('../partials/header') %> 

    <div class="main-container">
        
        <div class="menu-container add-shadow-1">
            <ul class="vnav">
                <li><a class="nav-btn" href="/admin/products/create">Crear</a></li>
                <li><a class="nav-btn" href="admin/porducts/edit">Editar</a></li>
                <li><a class="nav-btn active" href="">Borrar</a></li>
            </ul>

        </div>
   
    <div class="form-container add-shadow-1">
       <h2>Producto Borrado!</h2>
       <a href="/admin">Volver a la home</a>
    </div>
    </div>
    
    <div style="height: 200px;"></div>
</body>
</html>