<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('../partials/styles-and-fonts') %> 
    <%- include('./partials/style') %> 
</head>
<body>
    <%- include('partials/header') %> 
    
    <div class="main-container">
        
        <div class="menu-container add-shadow-1">
            <ul class="vnav">
                <li><a class="nav-btn" href="/admin/products/">Productos</a></li>
                <li><a class="nav-btn" href="/admin/products/create">Crear</a></li>
                <li><a class="nav-btn" href="">Modificar</a></li>
                <li><a class="nav-btn" href="">Borrar</a></li>
            </ul>
        </div>

    </div>
</body>
</html>