<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('../partials/styles-and-fonts') %> 
    <%- include('./partials/style') %> 
</head>
<body>
    <%- include('./partials/header') %> 
    
    <div class="main-container">
        
        <div class="menu-container add-shadow-1">
            <a href="">
                <span><i class="fas fa-chart-line"></i></span>  
                <span>Dashboard</span>
            </a>
            <a href="">
                <span><i class="fas fa-apple-alt"></i></span>  
                <span>Productos</span>
            </a>
            <a href="">
                <span><i class="fas fa-dolly-flatbed"></i></span>  
                <span>Pedidos</span>
            </a>
            <a href="">
                <span><i class="fas fa-users"></i></span>  
               <span>Usuarios</span>
            </a>
        </div>

    </div>
</body>
</html>