<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('../partials/styles-and-fonts') %> 
    <%- include('./partials/style') %> 
</head>
<body>
    <%- include('partials/header') %> 
    
    <div class="main-container">
        
        <div class="menu-container add-shadow-1">
            <ul class="vnav">
                <li><a class="nav-btn active" href="">Crear</a></li>
                <li><a class="nav-btn" href="">Modificar</a></li>
                <li><a class="nav-btn" href="">Borrar</a></li>
            </ul>
        </div>

        <div class="form-container add-shadow-1">
            <form action="#">

            <label for="name">Nombre del producto:</label><br>
            <input type="text"><br>
            <label for="price">Precio:</label><br>
            <input type="text" name="price"><br>
            <label for="un">Unidad:</label><br>
            <input type="number" min="0" name="unidad">
            <select name="category" id="">
                <option value="">Unidad</option>
                <option value="">kg (kilogramo)</option>
                <option value="">g (gramo)</option>
                <option value="">l (litro)</option>
            </select><br>
            <label for="description">Descripción:</label><br>
            <input type="text" id="descr">
            <label for="image">Imágen:</label>
            <input type="text" placeholder="URL">
            <label for="category">Categoría</label>
            <select name="category" id="">
                <option value="">Fideos</option>
                <option value="">Semillas</option>
            </select><br>
            <div class="btn-container">
                <input type="submit" value="Aceptar">
                <input type="submit" value="Cancelar">
            </div>
            </form>
        </div>
    </div>
</body>
</html>