<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('../partials/styles-and-fonts') %> 
    <%- include('./partials/style') %> 
</head>
<body>
    <%- include('./partials/header') %> 
    
    <div class="main-container">
        
        <div class="menu-container add-shadow-1">
            <a href="">Dashboard</a>
            <a href="">Productos</a>
            <a href="">Ventas</a>
            <a href="">Usuarios</a>
        </div>

    </div>
</body>
</html>