<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="assets/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        body{
            margin: 0em;
            height: 100%;
        }
        .navbar{
            padding: 8px 16px;
        }
        #goHome{
            text-decoration: none;
        }

        .login-form{
            padding:1rem;
            max-width: 300px;
            width: 90%;
            margin: auto;
            margin-top: 2rem;
            background-color:rgb(252, 227, 220);
        }
        form div{
            font-size: 1.2em;
            text-align: center;
            margin-top: 0.2em;
        }
        input{
            width: 100%;
            border: none;
        }
        input :scope{
            background-color: crimson;
        }
        
        form button{
            margin-top: 1.2em;
        }
        
        .btn-primary {
        color: #fff;
        background-color: #cf2929;
        border-color: #f17c7c;  
        }
        
    </style>
    
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-cstm">
        <a href="/" id="goHome">
            <span class="brand">
              Distribuidora Saludable
            </span>
        </a>
      </nav>
    
    <!-- Form   -->
    <div class="login-form">
        <form action="" method="POST">
            <div>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" placeholder="Enviar">Entrar</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script></body>
</body>
</html>