<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mainMobil.css">
    <link rel="stylesheet" href="/css/mainDesktop.css">
    <link rel="stylesheet" href="/css/mainTablet.css">
    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container"> 
        <div class="title add-shadow-bottom"><h3>Todos nuestros productos</h3></div>
        <div class="products-container">
            <% products.forEach((product) => {%> 
            <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="<%= product.img %>"></div>
                    <div class="price-product">$<%= product.precio %> </div>
                    <div class="desc-product"><%= product.producto %> </div>
                    <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
            </div>
        <% }) %> 
        </div>
    
</body>
</html>