<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <link rel="stylesheet" href="/css/cart.css">
    <%- include('../partials/styles-and-fonts') %> 
    </head>
<body>
    <%- include('../partials/header') %> 
    
    <div class="main-container add-shadow">
            <div class="title1">Mi carrito:</div>
            <div class="content">
                <div class="list">
                    <div class="row">
                        <div class="photo">
                            <img src="/images/products/003.jpg">
                        </div>
                        <div class="detail">
                            Mix almendras
                        </div>
                            <div>
                                $400
                            </div>
                            <div>
                                2 kg
                            </div>
                            <div>
                                $800
                            </div>  
                    </div>
                    <div class="row">
                        <div class="photo">
                            <img src="/images/products/003.jpg">
                        </div>
                        <div class="detail">
                            Mix almendras
                        </div>
                            <div>
                                $400
                            </div>
                            <div>
                                2 kg
                            </div>
                            <div>
                                $800
                            </div>  
                    </div>
                    <div class="row">
                        <div class="photo">
                            <img src="/images/products/003.jpg">
                        </div>
                        <div class="detail">
                            Mix almendras
                        </div>
                            <div>
                                $400
                            </div>
                            <div>
                                2 kg
                            </div>
                            <div>
                                $800
                            </div>  
                    </div>
                </div>
                <div class="right-col">
                    <div class="resumen"><div>Resúmen</div></div>
                    <div class="sub">
                        <span>Subtotal: </span>
                        <span>$2.400</span>
                    </div>
                    <div class="sub">
                        <span>Envío: </span>
                        <span>$200</span>
                    </div>
                    <div class="total">
                        <span>Total: </span>
                        <span>$2.600</span>
                    </div>
                    <a href="#" id="buy-btn"class="btn add-shadow-1"><i class="fas fa-shopping-cart"></i> Seguir comprando</a> 
                    <a href="#" id="pay-btn" class="btn add-shadow-1"><i class="fas fa-shopping-bag"></i> Pagar</a> 

                </div>
    </div>
    </div>

    <div class="separador"></div>
    
    <%- include('../partials/footer') %> 

</body>
</html>
