<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mainMobil.css">
    <link rel="stylesheet" href="/css/register.css">
    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/logo/logoWhite.png" >
        </a>
        <a href="/">Inicio</a>
    </header>
    
    <div class="login add-shadow">
        <h3>¡Bienvenido!</h3>
        
        <% if(typeof errors != 'undefined') { %>
            <div class="errorMessage">
                <p><underline>Errores generados:</strong></p>
                <ul> 
                    <% for(let i=0 ; i<errors.length ; i++) { %>
                        <li>
                            <%= errors[i].msg %> 
                        </li>
                    <% } %>
                </ul>
            </div>

        <% }else{ %>  
            <h4>Por favor, ingresá tus datos:</h4>
        <% } %> 
        <form action="/users/register" method="POST">
            <div class="name_surname">
                <% if(name.length>0){ %> 
                    <input type="text" name="name"  value=<%= name %>>
                <% }else{ %> 
                    <input type="text" name="name"  placeholder="Nombre">
                <% } %>
                <% if(surname.length>0){ %> 
                    <input type="text" name="surname" value=<%= surname %> >
                <% }else{ %> 
                    <input type="text" name="surname"  placeholder="Apellido">
                <% } %>
            </div>
            <% if(email.length>0){ %> 
                <input type="email" name="email" value=<%= email %> >
            <% }else{ %> 
                <input type="email" name="email" placeholder="Email">
            <% } %>
            <input class="password" type="password" name="password" placeholder="Contraseña">
            <input type="password" placeholder="Repetir contraseña">
            <input type="submit" value="Enviar" style="background-color:var(--pink-1);font-weight: 700;color: #272726da;"></input>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Recordarme
            </label>           
        </form>
    </div>

    <div style="height: 100px;"></div>


</body>
</html>