<div class="container">
    <a href="/products/categories" class="to-categories">
    <div class="title add-shadow">
        <h3>Categorías</h3>
    </div>
    </a>
    <div class="lista-categories">
        <% starCategories.forEach(category =>{ %> 
            <div class="category-card">
                <a href="#">
                    <img class="img-category" src="images/categories/<%= category.id %>.jpg">
                    <div class="name-category">
                        <p style="margin: 0;"><%= category.name %> </p>
                    </div>
                </a>
            </div>
        <% }) %> 
    </div>
</div>
<!-- 
    <div class="lista-categories">
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/cereales.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Cereales</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/condimentos.jpg">
                <div class="name-category">
                    <p class="overflow-text" style="margin: 0;">Condimentos</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/frutos-secos.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Frutos Secos</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/jugos.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Jugos</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/galletitas.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Cookies</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/fideos.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Fideos</p>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#">
                <img class="img-category" src="images/categories/aceites.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Aceites</p>
                </div>
            </a>
        </div>
        <div class="category-card desktop1">
            <a href="#">
                <img class="img-category" src="images/categories/harinas.jpg">
                <div class="name-category">
                    <p style="margin: 0;">Harinas</p>
                </div>
            </a>
        </div>
    </div>
     -->