
 <div class="container"> 
    <div class="title add-shadow-bottom"><h3>Destacados</h3></div>
    <div class="products-container">
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/009.jpg"></div>
                <div class="price-product">$420</div>
                <div class="desc-product">Aceite de Oliva</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/010.jpg"></div>
                <div class="price-product">$105</div>
                <div class="desc-product">Aritos Frutados</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/011.jpg"></div>
                <div class="price-product">$200</div>
                <div class="desc-product">Hongos Secos Shitake</div>    
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
            <div class="image-product"><img class="photo-product" src="images/products/012.jpg"></div>
            <div class="price-product">$250</div>
            <div class="desc-product">Pasas de Uva Rubias</div>
            <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        </div>
    </div>