<footer>
    <div class="footer1"> 
        <h4> Mapa del sitio: </h4>
        <ul>
            <li><a href="/">Incio</a> </li>
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/locales">Locales</a> </li>
            <li><a href="#">Política de cambios y devoluciones</a></li>
            <li><a href="#">Defensa al consumidor (consultas y/o denuncias)</a></li>
        </ul>
    </div>

    <div class="footer2"> 
        <h4> Contactos: </h4>
        <ul>
            <li><i class="fas fa-phone-alt"></i> 4706-0307 </li>
            <li class="overflow-text"><i class="fas fa-at"></i> contacto@distribuidorasaludable.com</li>
            <li style="overflow: hidden;">proveedores@distribuidorasaludable.com</li>
            <li class="overflow-text">rrhh@distribuidorasaludable.com</li>
        </ul>
    </div>

    <div class="footer3"> 
        <h4> Redes sociales: </h4>
        <ul>
            <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
            <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
            
        </ul>
    </div>

    <div class="footer4"> 
        <h4> Seguridad y certificaciones</h4>
        <!--a href="http://qr.afip.gob.ar/?qr=SpDgX4smKIIRInt5NNJM5A,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a-->
    </div>
</footer>

<div class="copyright">
    <p style="text-align: center;">COPYRIGHT DISTRIBUIDORA SALUDABLE - 2020. TODOS LOS DERECHOS RESERVADOS.</p>
</div>