<header>
    <a href="/" class="logo-header">
        <img src="/images/logo/logoWhite.png">
    </a>
    <ul class="desktop tablet">
        <li class="dropdown">
            <a href="" class="dropbtn"><i class="fas fa-angle-down"></i> Categorías</a>
            <div class="dropdown-content">
                <a href="/products/categories">Ver todas</a>
                <% categories.forEach(category =>{ %> 
                    <a href="/products/categories/<%= category.id %>" > <%= category.name %> </a>
                <% }) %> 
        <li><a href="/about"><i class="fab fa-nutritionix"></i> Quienes somos</a></li>
        <li><a href="/login"><i class="fas fa-user"></i> Ingresar</a></li>
        <li><a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
      </ul>
    <div class="movil">
        <i class="fa fa-bars movil" style="margin-right:1rem;color: #fff;font-size: 2rem;"></i>
    </div>
</header>