<div class="container">
    <div class="title add-shadow-bottom"><h3>Productos nuevos</h3></div>
    <div class="products-container">
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/013.jpg"></div>
                <div class="price-product">$85</div>
                <div class="desc-product">Jugo de Kiwi</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/014.jpg"></div>
                <div class="price-product">$85</div>
                <div class="desc-product">Limonada</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/015.jpg"></div>
                <div class="price-product">$80</div>
                <div class="desc-product">Cookies Veganas</div>    
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
            <div class="image-product"><img class="photo-product" src="images/products/016.jpg"></div>
            <div class="price-product">$180</div>
            <div class="desc-product">Leche de Almendras</div>
            <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
</div>
