<div class="container">
    <div class="title add-shadow-bottom">
        <h3>Ofertas</h3>
    </div>
    <div class="products-container">
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/002.jpg"></div>
                <div class="price-product">$140</div>
                <div class="desc-product overflow-text">Almohaditas Rellenas</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/001.jpg"></div>
                <div class="price-product">$530</div>
                <div class="desc-product overflow-text">Mix Sin Pasas</div>
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
                <div class="image-product"><img class="photo-product" src="images/products/004.jpg"></div>
                <div class="price-product">$60</div>
                <div class="desc-product overflow-text">Cacao Amargo</div>    
                <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
        <div class="product-container add-shadow-1">
            <div class="image-product"><img class="photo-product" src="images/products/006.jpg"></div>
            <div class="price-product">$85</div>
            <div class="desc-product overflow-text">Avena Instantánea</div>
            <a href="#" class="btn"><i class="fas fa-cart-arrow-down"></i> Agregar al carrito</a>
        </div>
    </div>
    
</div> 