<header>
    <a href="/admin" class="logo-header">
        <img src="/images/logo/logoWhite.png">
    </a>
    <form action="/admin/products" method="GET" class="search-form">
        <input 
        type="text" 
        name="keyword" 
        class="search-form_input"
        placeholder="Buscar..."
        >
        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
    
    <ul class="desktop tablet">
        <li><a href="#"><i class="fas fa-user"></i> Admin</a></li>
        
    <div class="movil">
        <i class="fa fa-bars movil" style="margin-right:1rem;color: #fff;font-size: 2rem;"></i>
    </div>
</header>