<div id='vmenu' class="menu-container add-shadow-1">
    <a href="/admin">
        <span><i class="fas fa-chart-line"></i></span>  
        <span>Dashboard</span>
    </a>
    <a href="/admin/products">
        <span><i class="fas fa-apple-alt"></i></span>  
        <span>Productos</span>
    </a>
    <a href="/admin/orders">
        <span><i class="fas fa-dolly-flatbed"></i></span>  
        <span>Pedidos</span>
    </a>
    <a href="/admin/users">
        <span><i class="fas fa-users"></i></span>  
       <span>Usuarios</span>
    </a>
</div>